*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
custom.el
places
.smex-items
save/*
ac-comphist.dat
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.mc-lists.el
